<app-menu></app-menu>

<div class="container-lg mt-2">
  <h2 class="text-center">Edición de Usuario</h2>

    <div class="form-container">
      <form novalidate [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">

        <div class="input-div"> <!--ID-->
          <label for="inputID" class="form-label">ID</label>
          <input type="text" class="form-control" id="inputID" formControlName="id" readonly>
        </div>

        <div class="input-div"> <!--NOMBRE-->
          <label for="inputName" class="form-label">Nombre</label>
          <input type="text" id="inputName" formControlName="nombre" class="form-control"
            [ngClass]="{ 'is-valid' : form.controls.nombre.dirty &&
            (!form.controls.nombre.errors?.['required'] || !form.controls.nombre.errors?.['minlength'] || !form.controls.nombre.errors?.['maxlength']),

            'is-invalid' : form.controls.nombre.dirty &&
            (form.controls.nombre.errors?.['minlength'] || form.controls.nombre.errors?.['maxlength'] || form.controls.nombre.errors?.['required']) }"
          >
          <!--MODALES DE ERROR-->
          <div id="inputNameFeedback" class="invalid-feedback"
            *ngIf="form.controls.nombre?.dirty &&  form.controls.nombre?.errors?.['minlength']">
            La longitud mínima es de 5 caracteres.
          </div>
          <div id="inputNameFeedback" class="invalid-feedback"
            *ngIf="form.controls.nombre?.dirty &&  form.controls.nombre?.errors?.['maxlength']">
            La longitud máxima es de 10 caracteres.
          </div>
          <div id="inputNameFeedback" class="invalid-feedback"
            *ngIf="form.controls.nombre?.dirty &&  form.controls.nombre?.errors?.['required']">
            El campo es obligatorio.
          </div>
        </div>

        <div class="input-div"> <!--APELLIDO 1-->
          <label for="inputSurname" class="form-label">1º Apellido</label>
            <input type="text" class="form-control" id="inputSurname" formControlName="apellido1"
              [ngClass]="{'is-valid' : form.controls.apellido1.dirty &&
              (!form.controls.apellido1.errors?.['required'] || !form.controls.apellido1.errors?.['minlength'] || !form.controls.apellido1.errors?.['maxlength']),

              'is-invalid' :  form.controls.apellido1.dirty &&
              (form.controls.apellido1.errors?.['minlength'] || form.controls.apellido1.errors?.['maxlength'] || form.controls.apellido1.errors?.['required'])}"
            >
            <!--MODALES DE ERROR-->
            <div id="inputSurnameFeedback" class="invalid-feedback"
              *ngIf="form.controls.apellido1?.dirty &&  form.controls.apellido1?.errors?.['minlength']">
              La longitud mínima es de 5 caracteres.
            </div>
            <div id="inputSurnameFeedback" class="invalid-feedback"
              *ngIf="form.controls.apellido1?.dirty &&  form.controls.apellido1?.errors?.['maxlength']">
              La longitud máxima es de 10 caracteres.
            </div>
            <div id="inputSurnameFeedback" class="invalid-feedback"
              *ngIf="form.controls.apellido1?.dirty &&  form.controls.apellido1?.errors?.['required']">
              El campo es obligatorio.
            </div>
        </div>

        <div class="input-div"> <!--APELLIDO 2-->
          <label for="inputLastname" class="form-label">2º Apellido</label>
          <input type="text" class="form-control" id="inputLastName" formControlName="apellido2"
            [ngClass]="{'is-valid' : form.controls.apellido2.dirty &&
            (!form.controls.apellido2.errors?.['required'] || !form.controls.apellido2.errors?.['minlength'] || !form.controls.apellido2.errors?.['maxlength']),

            'is-invalid' :  form.controls.apellido2.dirty &&
            (form.controls.apellido2.errors?.['minlength'] || form.controls.apellido2.errors?.['maxlength'] || form.controls.apellido2.errors?.['required'])}"
          >
          <!--MODALES DE ERROR-->
          <div id="inputLastnameFeedback" class="invalid-feedback"
            *ngIf="form.controls.apellido2?.dirty &&  form.controls.apellido2?.errors?.['minlength']">
            La longitud mínima es de 5 caracteres.
          </div>
          <div id="inputLastnameFeedback" class="invalid-feedback"
            *ngIf="form.controls.apellido2?.dirty &&  form.controls.apellido2?.errors?.['maxlength']">
            La longitud máxima es de 10 caracteres.
          </div>
          <div id="inputLastnameFeedback" class="invalid-feedback"
            *ngIf="form.controls.apellido2?.dirty &&  form.controls.apellido2?.errors?.['required']">
            El campo es obligatorio.
          </div>
        </div>

        <div class="row">
          <div class="input-div col-md-4"> <!--DNI-->
            <label for="inputDni" class="form-label">Dni</label>
            <input type="text" id="inputDni" formControlName="dni" class="form-control"
              [ngClass]="{'is-valid' : form.controls.dni.dirty && !form.controls.dni.errors?.['required']
              && !form.controls.dni.errors?.['pattern'],
              'is-invalid' : form.controls.dni.dirty && (form.controls.dni.errors?.['pattern']
              || form.controls.dni.errors?.['required']) }"
            >

            <div id="inputDniFeedback" class="invalid-feedback"
              *ngIf="form.controls.dni.dirty && form.controls.dni.errors?.['pattern']">
              Dni no válido
            </div>
            <div id="inputDniFeedback" class="invalid-feedback"
              *ngIf="form.controls.dni.dirty && form.controls.dni.errors?.['required']">
              El campo es obligatorio.
            </div>
          </div>

          <div class="input-div col-md-8"> <!--EMAIL-->
            <label for="inputEmail" class="form-label">Email</label>
            <input type="text" class="form-control" id="inputEmail" formControlName="email"
              [ngClass]="{'is-valid' : form.controls.email.dirty &&
              (!form.controls.email.errors?.['required'] || !form.controls.email.errors?.['minlength'] || !form.controls.email.errors?.['maxlength']),

              'is-invalid' :  form.controls.email.dirty &&
              (form.controls.email.errors?.['minlength'] || form.controls.email.errors?.['maxlength'] || form.controls.email.errors?.['required'])}"
            >
            <!--MODALES DE ERROR-->
            <div id="inputEmailFeedback" class="invalid-feedback"
              *ngIf="form.controls.email.dirty &&  form.controls.email.errors?.['pattern']">
              Email no válido
            </div>
            <div id="inputEmailFeedback" class="invalid-feedback"
              *ngIf="form.controls.email.dirty &&  form.controls.email.errors?.['required']">
              El campo es obligatorio
            </div>
          </div>
        </div>
        <div class="input-div"> <!--LOGIN-->
          <label for="inputLogin" class="form-label">Login</label>
          <input type="text" class="form-control" id="inputLogin" formControlName="login"
            [ngClass]="{'is-valid' : form.controls.login.dirty &&
            (!form.controls.login.errors?.['required'] || !form.controls.login.errors?.['minlength'] || !form.controls.login.errors?.['maxlength'] || !form.controls.login.errors?.['pattern']),

            'is-invalid' : form.controls.login.dirty &&
            (form.controls.login.errors?.['minlength'] || form.controls.login.errors?.['maxlength'] || form.controls.login.errors?.['required'] || form.controls.login.errors?.['pattern'])}"
          >
          <!--MODALES DE ERROR-->
          <div class="invalid-feedback"
            *ngIf="form.controls.login?.dirty && form.controls.login?.errors?.['minlength']">
            La longitud mínima es de 4 caracteres.
          </div>
          <div class="invalid-feedback"
            *ngIf="form.controls.login?.dirty && form.controls.login?.errors?.['maxlength']">
            La longitud máxima es de 10 caracteres.
          </div>
          <div class="invalid-feedback"
            *ngIf="form.controls.login?.dirty && form.controls.login?.errors?.['required']">
            El campo es obligatorio.
          </div>
        </div>

        <!--<div class="input-div">
          <label for="inputUsertype" class="form-label">Tipo de usuario (ID)</label>
            <div class="input-group">
              <span class="input-group-text">{{tipousuarioDescription}}</span>

              <input type="number" class="form-control" formControlName="tipousuario" (keyup)="updateUserTypeDescription(form.controls.tipousuario.value)"
                [ngClass]="{'is-valid' :  form.controls.tipousuario.dirty &&
                (!form.controls.tipousuario.errors?.['required'] || !form.controls.tipousuario.errors?.['pattern']),

                'is-invalid' : form.controls.tipousuario.dirty &&
                (form.controls.tipousuario.errors?.['required'] || form.controls.tipousuario.errors?.['pattern']) }"
              >

              <button type="button" class="btn btn-primary" (click)="openModalFindUsertype()">Buscar</button>
            </div>

            <div class="invalid-feedback"
              *ngIf="form.controls.tipousuario?.dirty &&  form.controls.tipousuario?.errors?.['required']">
              El campo es obligatorio.
            </div>
            <div class="text-danger"
              *ngIf="form.controls.tipousuario?.dirty &&  form.controls.tipousuario?.errors?.['pattern']">
              El campo ha de ser un entrero de máximo 6 dígitos.
            </div>

        </div>-->

        <div class="input-div"> <!--TIPO USUARIO-->
          <label for="inputUsertype" class="form-label">Tipo de Usuario (ID)</label>
          <div class="row">
            <span class="col-md-4 col-lg-3">{{tipousuarioDescription}}</span>
            <div class="col-md-4 col-lg-3">
              <input type="number" class="form-control" formControlName="tipousuario" (keyup)="updateUserTypeDescription(form.controls.tipousuario.value)"
                [ngClass]="{'is-valid' : form.controls.tipousuario.dirty && !form.controls.tipousuario.errors?.['required'] &&
                !form.controls.tipousuario.errors?.['incorrect'],
                'is-invalid' : (form.controls.tipousuario.dirty && form.controls.tipousuario.errors?.['required'] )
                || ( form.controls.tipousuario.dirty && form.controls.tipousuario.errors?.['incorrect'] )}"
              >
            </div>
            <button type="button" class="btn btn-md buscar col-md-4 col-lg-3" (click)="openModalFindUsertype()">
              <i class="pi pi-search"></i>
              Buscar
            </button>
          </div>

          <div class="text-danger"
            *ngIf="form.controls.tipousuario.dirty && tipousuarioDescription == 'No se ha encontrado'">
            El campo es obligatorio.
          </div>
          <!--<div class="text-danger"
            *ngIf="form.controls.tipousuario.dirty && form.controls.tipousuario.errors?.['incorrect']">
            No se encuentra el tipo de usuario
          </div>-->
        </div>

        <div class="buttons-container">
          <button type="submit" class="btn button btn-save" [disabled]="form.pristine || form.invalid">Guardar</button>
          <button type="button" class="btn button" role="button" (click)="back()">Cancelar</button>
        </div>

      </form>
    </div>
</div>
<!--MODAL DE NOTIFICACION-->
<div class="modal fade" [id]="mimodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        {{modalContent}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!--MODAL DE USERTYPES-->
<div class="modal fade" id="findUsertype" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-tipousuario-plist (closeEvent)="closeTeamModal($event)"></app-tipousuario-plist>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          <i class="pi pi-times"></i>
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
