*{
  box-sizing: border-box;
}

.botonera{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1vh;
  align-items: center;
}

img{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;;
  border-radius: 10px;
}

.paginacion, .paginaPie{
  display: flex;
  justify-content: center;
}

.cabecera{
  display: flex;
  justify-content: space-between;
}
