<app-menu></app-menu>

<div class="container mt-5" *ngIf="pelicula">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Datos de {{pelicula.titulo}}</h1>
      <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{pelicula.id}}</td>
            </tr>
            <tr>
                <td>Titulo</td>
                <td>{{pelicula.titulo}}</td>
            </tr>
            <tr>
                <td>Director</td>
                <td>{{pelicula.director}}</td>
            </tr>
            <tr>
                <td>Año de estreno</td>
                <td>{{pelicula.year}}</td>
            </tr>
            <tr>
                <td>Duracion</td>
                <td>{{pelicula.duracion}}</td>
            </tr>
            <tr>
                <td>Fecha de alta</td>
                <td>{{pelicula.fechaAlta | date: 'dd-MM-yyyy / HH:mm'}}</td>
            </tr>
            <tr>
              <td>Fecha de baja</td>
              <td>{{pelicula.fechaBaja | date: 'dd-MM-yyyy / HH:mm'}}</td>
          </tr>
            <tr>
                <td>Genero</td>
                <td>{{pelicula.genero.id}} ({{pelicula.genero.nombre}})</td>
            </tr>
            <tr>
              <td>Sinopsis</td>
              <td>{{pelicula.sinopsis}}</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="col contImg">
      <img class="imagen" [src]="this.src" alt="imagen">
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <a class="btn btn-outline-primary m-2" (click)="goBack()"> Volver</a>
  </div>
</div>
