

<app-menu></app-menu>

<div class="container mt-5" *ngIf="resp">
  <table class="table">
    <tr *ngFor="let fila of filas" class="mt-5">
      <td *ngFor="let butaca of fila">
        <div (click)="seleccionar(butaca)" [ngClass]="{'bg-danger':!butaca.libre, 'bg-success':butaca.libre}">
          {{butaca.ejeY+1}} -
          {{butaca.id}}
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="container mt-4" *ngIf="resp">
  <button class="btn btn-outline-danger" (click)="back()">Volver</button>
  <!--<a routerLink="/admin/entrada/create" role="button" class="btn btn-outline-info">Comprar</a>-->
  <button routerLink="/admin/entrada/create" (click)="localStorage()" role="button" class="btn btn-outline-success" [disabled]="arrayEntradas.length==0" >Comprar LocalStorage</button>
</div>


<!--<a [routerLink]="['/admin/entrada/create',entradas]" role="button" class="btn btn-outline-info">Comprar routerLInk</a>-->

<div *ngIf="resp">
  <!--<app-admin-compra [arrayEntradas]="arrayENtradas" [entradaPrueba]="resp[0]" [entradasprueba]="entradas"></app-admin-compra>-->
</div>
<div *ngIf="resp" class="mt-3">
  <app-preview-entrada [entradas]="arrayEntradas" [sesion]="this.sesion"></app-preview-entrada>
</div>



