<app-menu></app-menu>

<div class="container mt-5">

  <div class="titulo">
    <h4>Nueva Tarifa</h4>
  </div>

  <div class="formContainer">
    <form [formGroup]="form" (ngSubmit)="createTarifa()">
      <div class="inputDiv">
        <label for="inputName" class="label-form">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre"
        [ngClass]="{'is-valid' : !form.controls.nombre.errors?.['required'] && !form.controls.nombre.errors?.['minlength'],

        'is-invalid' : form.controls.nombre.dirty &&
        (form.controls.nombre.errors?.['minlength'] || form.controls.nombre.errors?.['required'])}"
        >
      </div>
      <div class="inputDiv">
        <label for="inputName" class="form-label">Precio</label>
        <input type="number" class="form-control" formControlName="precio"
          [ngClass]="{'is-valid' : !form.controls.precio.errors?.['required'] && !form.controls.precio.errors?.['pattern'],

          'is-invalid' : form.controls.precio.dirty &&
          (form.controls.precio.errors?.['required'] || form.controls.precio.errors?.['pattern'])}"
        >
      </div>
      <div class="buttons mt-4">
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">Guardar</button>
        <button type="button" class="btn btn-danger ms-3" (click)="back()">Cancelar</button>
      </div>
    </form>
  </div>

  <div class="modal fade" [id]="mimodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          {{modalContent}}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

