<app-menu></app-menu>

<div class="contenedor">
  <div class="titulo">
    Información de Pelicula
  </div>

  <div class="formContainer">
    <form class="gridContainer" [formGroup]="form" *ngIf="form" (ngSubmit)="updatePelicula()">

      <fieldset class="infoGeneral">

        <div class="inputDiv">
          <label for="inputId" class="form-label">ID</label>
          <input type="text" class="inputID" id="inputId" formControlName="id" readonly>
        </div>

        <div class="inputDiv">
          <label for="inputTitulo" class="form-label">Titulo</label>
          <input type="text" class="form-control" id="inputTitulo" formControlName="titulo"
            [ngClass]="{'is-valid' : form.controls['titulo'].dirty && !form.controls['titulo'].errors?.['required'] &&
            form.controls['titulo'].dirty && !form.controls['titulo'].errors?.['minlength']
            && form.controls['titulo'].dirty && !form.controls['titulo'].errors?.['maxlength'],
            'is-invalid' :  form.controls['titulo'].dirty &&  form.controls['titulo'].errors?.['minlength']
            ||  form.controls['titulo'].dirty &&  form.controls['titulo'].errors?.['maxlength'] ||
            form.controls['titulo'].dirty &&  form.controls['titulo'].errors?.['required']}"
          >
        </div>

        <div class="inputDiv">
          <label for="inputDir" class="form-label">Director</label>
          <input type="text" class="form-control" id="inputDir" formControlName="director"
            [ngClass]="{'is-valid' : form.controls['director'].dirty && !form.controls['director'].errors?.['required'] &&
            form.controls['director'].dirty && !form.controls['director'].errors?.['minlength']
            && form.controls['director'].dirty && !form.controls['director'].errors?.['maxlength'],
            'is-invalid' :  form.controls['director'].dirty &&  form.controls['director'].errors?.['minlength']
            ||  form.controls['director'].dirty &&  form.controls['director'].errors?.['maxlength'] ||
            form.controls['director'].dirty &&  form.controls['director'].errors?.['required']}"
          >
        </div>

        <div class="inputDiv">
          <label for="inputYear" class="form-label">Año</label>
          <input type="number" class="form-control" id="inputYear" formControlName="year"
            [ngClass]="{'is-valid' : form.controls['year'].dirty && !form.controls['year'].errors?.['required'] &&
            form.controls['year'].dirty && !form.controls['year'].errors?.['min']
            && form.controls['year'].dirty && !form.controls['year'].errors?.['max'],
            'is-invalid' :  form.controls['year'].dirty &&  form.controls['year'].errors?.['min']
            ||  form.controls['year'].dirty &&  form.controls['year'].errors?.['max'] ||
            form.controls['year'].dirty &&  form.controls['year'].errors?.['required']}"
          >
        </div>

        <div class="inputDiv">
          <label for="inputDur" class="form-label">Duración (min.)</label>
          <input type="number" class="form-control" id="inputDur" formControlName="duracion"
            [ngClass]="{'is-valid' : form.controls['duracion'].dirty && !form.controls['duracion'].errors?.['required'] &&
            form.controls['duracion'].dirty && !form.controls['duracion'].errors?.['min']
            && form.controls['duracion'].dirty && !form.controls['duracion'].errors?.['max'],
            'is-invalid' :  form.controls['duracion'].dirty &&  form.controls['duracion'].errors?.['min']
            ||  form.controls['duracion'].dirty &&  form.controls['duracion'].errors?.['max'] ||
            form.controls['duracion'].dirty &&  form.controls['duracion'].errors?.['required']}"
          >
        </div>

        <div class="inputDiv">
          <label for="inputGenero" class="form-label">Genero</label>
            <div class="input-group">
              <span class="input-group-text">{{generoDescription}}</span>

              <input type="number" class="form-control" formControlName="genero" id="inputGenero"
                [ngClass]="{'is-valid' : form.controls['genero'].dirty && !form.controls['genero'].errors?.['required'] &&
                form.controls['genero'].dirty && !form.controls['genero'].errors?.['minlength']
                && form.controls['genero'].dirty && !form.controls['genero'].errors?.['maxlength'],
                'is-invalid' :  form.controls['genero'].dirty &&  form.controls['genero'].errors?.['minlength']
                ||  form.controls['genero'].dirty &&  form.controls['genero'].errors?.['maxlength'] ||
                form.controls['genero'].dirty &&  form.controls['genero'].errors?.['required']}"
              >

              <button type="button" class="btn btn-outline-primary" (click)="openModalFindGenero()">Buscar</button>

            </div>
            <!--DIALOGOS DE ERROR-->
            <div class="text-danger"
              *ngIf="form.controls['genero'].dirty && form.controls['genero'].errors?.['required']">
              El campo es obligatorio.
            </div>
            <div class="text-danger"
              *ngIf="form.controls['genero'].dirty && form.controls['genero'].errors?.['pattern']">
              El campo ha de ser un entrero de máximo 6 dígitos.
            </div>

        </div>

      </fieldset>

      <fieldset class="sinopsis">
        <div class="inputDiv">
          <label for="inputSin" class="form-label">Sinopsis</label>
          <textarea type="text" class="form-control" id="inputSin" formControlName="sinopsis"
            [ngClass]="{'is-valid' : form.controls['sinopsis'].dirty && !form.controls['sinopsis'].errors?.['required'] &&
            form.controls['sinopsis'].dirty && !form.controls['sinopsis'].errors?.['minlength']
            && form.controls['sinopsis'].dirty && !form.controls['sinopsis'].errors?.['maxlength'],
            'is-invalid' :  form.controls['sinopsis'].dirty &&  form.controls['sinopsis'].errors?.['minlength']
            ||  form.controls['sinopsis'].dirty &&  form.controls['sinopsis'].errors?.['maxlength'] ||
            form.controls['sinopsis'].dirty &&  form.controls['sinopsis'].errors?.['required']}"
          ></textarea>
        </div>
      </fieldset>

      <fieldset class="options">
        <div class="image">
          <img [src]="this.src" alt="portada de pelicula seleccionada" class="me-3 mb-3">
          <div class="btn btn-primary btn-rounded">
            <input type="file" class=" form-control" (change)="fileSelected($event)">
          </div>

        </div>

        <div class="row my-3">
          <div class="field col-5 md:col-5 ">
            <label for="time" class="form-label">Fecha de alta</label>
            <p-calendar formControlName="fAlta" dateFormat="dd-mm-yy" [showIcon]="true" [showButtonBar]="true" inputId="time"></p-calendar>
          </div>

          <div class="field col-5 md:col-5 ms-2">
            <label for="time" class="form-label">Fecha de Baja</label>
            <p-calendar formControlName="fBaja" dateFormat="dd-mm-yy" [showIcon]="true" [showButtonBar]="true" inputId="time"></p-calendar>
          </div>
        </div>

        <div class="inputDiv row ms-5">

          <div class="inputVersion form-check form-switch col-4">
            <input class="form-check-input" formControlName="normal" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label for="inputNormal">V. normal</label>
           <!-- <input type="checkbox" class="" id="inputNormal" formControlName="normal">-->
          </div>
          <div class="inputEspecial form-check form-switch col-4">
            <input type="checkbox" class="form-check-input" id="inputEspecial" formControlName="especial" role="switch" id="flexSwitchCheckDefault">
            <label for="inputEspecial">V. especial</label>
          </div>

        </div>
      </fieldset>

      <fieldset class="buttons text-center">
        <button type="submit" class="btn btn-primary btnCrear" [disabled]="this.form.invalid">Crear</button>
        <button type="button" class="btn btn-danger btnCancelar ms-3" (click)="back()">Cancelar</button>
      </fieldset>

    </form>

    <div class="modal fade" [id]="mimodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            {{modalContent}}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="findGenero" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">{{modalTitle}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <app-genero-plist (closeEvent)="closeGeneroModal($event)"></app-genero-plist>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
