<div class="container">

  <h2 class="text-center mb-3">Tipos de usuario</h2>
  <div class="table table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usertype of this.getPlistContent()">
          <td (click)="selectionUsertype(usertype.id)">{{usertype.id}}</td>
          <td (click)="selectionUsertype(usertype.id)">{{usertype.nombre}}</td>
          <td>
            <button class="btn btn-sm btn-outline-primary" (click)="selectionUsertype(usertype.id)">
              <i class="pi pi-check"></i>
              Seleccionar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

