<div class="container mt-3">

  <div class="titulo">
    <h4>Actualización de tipo de Sala</h4>
  </div>

  <div class="formContainer">
    <form [formGroup]="form" (ngSubmit)="updateTipoSala()">
      <div class="inputDiv">
        <label for="inputName">Nombre</label>
        <input type="text" id="inputName" formControlName="nombre">
      </div>
      <div class="buttons">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="back()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
