<div class="container mt-3">

  <div class="titulo">
    <h4>Actualización de Tarifa</h4>
  </div>

  <div class="formContainer">
    <form [formGroup]="form" (ngSubmit)="updateTarifa()">
      <div class="inputDiv">
        <label for="inputName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputName" formControlName="nombre">
      </div>

      <div class="inputDiv">
        <label for="inputName" class="form-label">Precio</label>
        <input type="text" class="form-control" id="inputName" formControlName="precio">
      </div>
      <div class="buttons">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="back()">Cancelar</button>
      </div>
    </form>
  </div>

    <!--MODAL DE NOTIFICACION-->
<div class="modal fade" [id]="mimodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        {{modalContent}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</div>

