<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Tarifas</h1>

      <app-search-unrouted [placeHolder]="'Buscar tarifa'" (onSearch)="setFilter($event)"></app-search-unrouted>

      <div class="paginacion" *ngIf="respFromServer">
        <app-pagination-unrouted [nPage]="respFromServer.number + 1" [nTotalPages]="respFromServer.totalPages"
          (eePage)="setPage($event)">
        </app-pagination-unrouted>

        <app-dropdown-register-page class="mx-2" [PageSize]="respFromServer.size"
            (eeRpp)="this.setRpp($event)">
        </app-dropdown-register-page>
      </div>

      <table class="table table-responsive table-striped">
        <thead>
          <tr>
            <th (click)="setOrder('id')">ID</th>
            <th (click)="setOrder('nombre')">Nombre</th>
            <th (click)="setOrder('precio')">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarifa of respFromServer?.content">
            <td>{{tarifa.id}}</td>
            <td>{{tarifa.nombre}}</td>
            <td>{{tarifa.precio}}</td>

            <td>
              <div class="btn-group" role="group" aria-label="Herramientas">
                <button class="btn btn-sm btn-outline-primary" (click)="selectTarifa(tarifa.id)">
                  Seleccionar
                </button>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


