<app-menu></app-menu>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Nuevo Usuario</h1>

      <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3 row">
          <label for="inputID" class="col-sm-2 col-form-label">ID</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="inputID" formControlName="id" readonly>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputDni" class="col-sm-2 col-form-label">DNI</label>
          <div class="col-sm-4 has-validation">
            <input type="text" class="form-control" [ngClass]="{'is-valid' : form.controls.dni.dirty && !form.controls.dni.errors?.['required'] &&
            form.controls.dni.dirty && !form.controls.dni.errors?.['minlength']
              && form.controls.dni.dirty && !form.controls.dni.errors?.['maxlength'],
              'is-invalid' :  form.controls.dni.dirty &&  form.controls.dni.errors?.['minlength']
              ||  form.controls.dni.dirty &&  form.controls.dni.errors?.['maxlength'] ||
              form.controls.dni.dirty &&  form.controls.dni.errors?.['required']}" id="inputDni"
              formControlName="dni">
            <div id="inputDniFeedback" class="invalid-feedback"
              *ngIf="form.controls.dni.dirty &&  form.controls.dni.errors?.['minlength']">
              La longitud mínima es de 5 caracteres.
            </div>
            <div id="inputDniFeedback" class="invalid-feedback"
              *ngIf="form.controls.dni.dirty &&  form.controls.dni.errors?.['maxlength']">
              La longitud máxima es de 10 caracteres.
            </div>
            <div id="inputDniFeedback" class="invalid-feedback"
              *ngIf="form.controls.dni.dirty &&  form.controls.dni.errors?.['required']">
              El campo es obligatorio.
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputName" class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-4 has-validation">
            <input type="text" class="form-control" [ngClass]="{'is-valid' : form.controls.nombre.dirty && !form.controls.nombre.errors?.['required'] &&
            form.controls.nombre.dirty && !form.controls.nombre.errors?.['minlength']
              && form.controls.nombre.dirty && !form.controls.nombre.errors?.['maxlength'],
              'is-invalid' :  form.controls.nombre.dirty &&  form.controls.nombre.errors?.['minlength']
              ||  form.controls.nombre.dirty &&  form.controls.nombre.errors?.['maxlength'] ||
              form.controls.nombre.dirty &&  form.controls.nombre.errors?.['required']}" id="inputName"
              formControlName="nombre">
            <div id="inputNameFeedback" class="invalid-feedback"
              *ngIf="form.controls.nombre.dirty &&  form.controls.nombre.errors?.['minlength']">
              La longitud mínima es de 5 caracteres.
            </div>
            <div id="inputNameFeedback" class="invalid-feedback"
              *ngIf="form.controls.nombre.dirty &&  form.controls.nombre.errors?.['maxlength']">
              La longitud máxima es de 10 caracteres.
            </div>
            <div id="inputNameFeedback" class="invalid-feedback"
              *ngIf="form.controls.nombre.dirty &&  form.controls.nombre.errors?.['required']">
              El campo es obligatorio.
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputSurname" class="col-sm-2 col-form-label">Primer Apellido</label>
          <div class="col-sm-4 has-validation">
            <input type="text" class="form-control" [ngClass]="{'is-valid' : form.controls.apellido1.dirty && !form.controls.apellido1.errors?.['required'] &&
            form.controls.apellido1.dirty && !form.controls.apellido1.errors?.['minlength']
              && form.controls.apellido1.dirty && !form.controls.apellido1.errors?.['maxlength'],
              'is-invalid' :  form.controls.apellido1.dirty &&  form.controls.apellido1.errors?.['minlength']
              ||  form.controls.apellido1.dirty &&  form.controls.apellido1.errors?.['maxlength'] ||
              form.controls.apellido1.dirty &&  form.controls.apellido1.errors?.['required']}" id="inputSurname"
              formControlName="apellido1">
            <div id="inputSurnameFeedback" class="invalid-feedback"
              *ngIf="form.controls.apellido1.dirty &&  form.controls.apellido1.errors?.['minlength']">
              La longitud mínima es de 5 caracteres.
            </div>
            <div id="inputSurnameFeedback" class="invalid-feedback"
              *ngIf="form.controls.apellido1.dirty &&  form.controls.apellido1.errors?.['maxlength']">
              La longitud máxima es de 10 caracteres.
            </div>
            <div id="inputSurnameFeedback" class="invalid-feedback"
              *ngIf="form.controls.apellido1.dirty &&  form.controls.apellido1.errors?.['required']">
              El campo es obligatorio.
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputLastname" class="col-sm-2 col-form-label">Segundo Apellido</label>
          <div class="col-sm-4 has-validation">
            <input type="text" class="form-control" [ngClass]="{'is-valid' : form.controls.apellido2.dirty && !form.controls.apellido2.errors?.['required'] &&
            form.controls.apellido2.dirty && !form.controls.apellido2.errors?.['minlength']
              && form.controls.apellido2.dirty && !form.controls.apellido2.errors?.['maxlength'],
              'is-invalid' :  form.controls.apellido2.dirty &&  form.controls.apellido2.errors?.['minlength']
              ||  form.controls.apellido2.dirty &&  form.controls.apellido2.errors?.['maxlength'] ||
              form.controls.apellido2.dirty &&  form.controls.apellido2.errors?.['required']}" id="inputLastname"
              formControlName="apellido2">
            <div id="inputLastnameFeedback" class="invalid-feedback"
              *ngIf="form.controls.apellido2.dirty &&  form.controls.apellido2.errors?.['minlength']">
              La longitud mínima es de 5 caracteres.
            </div>
            <div id="inputLastnameFeedback" class="invalid-feedback"
              *ngIf="form.controls.apellido2.dirty &&  form.controls.apellido2.errors?.['maxlength']">
              La longitud máxima es de 10 caracteres.
            </div>
            <div id="inputLastnameFeedback" class="invalid-feedback"
              *ngIf="form.controls.apellido2.dirty &&  form.controls.apellido2.errors?.['required']">
              El campo es obligatorio.
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-4 has-validation">
            <input type="text" class="form-control" [ngClass]="{'is-valid' : form.controls.email.dirty && !form.controls.email.errors?.['required'] &&
            form.controls.email.dirty && !form.controls.email.errors?.['pattern'],
              'is-invalid' :  form.controls.email.dirty &&  form.controls.email.errors?.['pattern'] ||
              form.controls.email.dirty &&  form.controls.email.errors?.['required']}" id="inputEmail"
              formControlName="email">
            <div id="inputEmailFeedback" class="invalid-feedback"
              *ngIf="form.controls.email.dirty &&  form.controls.email.errors?.['pattern']">
              El formato no es adecuado
            </div>
            <div id="inputEmailFeedback" class="invalid-feedback"
              *ngIf="form.controls.email.dirty &&  form.controls.email.errors?.['required']">
              El campo es obligatorio.
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputUsername" class="col-sm-2 col-form-label">Login</label>
          <div class="col-sm-4 has-validation">
            <input type="text" class="form-control" id="inputUsername" formControlName="login" [ngClass]="{'is-valid' :
            form.controls.login.dirty && !form.controls.login.errors?.['required'] &&
            form.controls.login.dirty && !form.controls.login.errors?.['minlength']
              && form.controls.login.dirty && !form.controls.login.errors?.['maxlength'],
              'is-invalid' :  form.controls.login.dirty &&  form.controls.login.errors?.['minlength']
              ||  form.controls.login.dirty &&  form.controls.login.errors?.['maxlength'] ||
              form.controls.login.dirty &&  form.controls.login.errors?.['required']}">
            <div class="invalid-feedback"
              *ngIf="form.controls.login.dirty &&  form.controls.login.errors?.['minlength']">
              La longitud mínima es de 5 caracteres.
            </div>
            <div class="invalid-feedback"
              *ngIf="form.controls.login.dirty &&  form.controls.login.errors?.['maxlength']">
              La longitud máxima es de 10 caracteres.
            </div>
            <div class="invalid-feedback"
              *ngIf="form.controls.login.dirty &&  form.controls.login.errors?.['required']">
              El campo es obligatorio.
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-4 has-validation">
            <input type="text" class="form-control" id="inputPassword" formControlName="password" [ngClass]="{'is-valid' :
            form.controls.password.dirty && !form.controls.login.errors?.['required'] &&
            form.controls.password.dirty && !form.controls.login.errors?.['minlength']
              && form.controls.password.dirty && !form.controls.login.errors?.['maxlength'],
              'is-invalid' :  form.controls.password.dirty &&  form.controls.login.errors?.['minlength']
              ||  form.controls.login.dirty &&  form.controls.password.errors?.['maxlength'] ||
              form.controls.login.dirty &&  form.controls.password.errors?.['required']}">
            <div class="invalid-feedback"
              *ngIf="form.controls.password.dirty &&  form.controls.password.errors?.['minlength']">
              La longitud mínima es de 3 caracteres.
            </div>
            <div class="invalid-feedback"
              *ngIf="form.controls.password.dirty &&  form.controls.password.errors?.['maxlength']">
              La longitud máxima es de 10 caracteres.
            </div>
            <div class="invalid-feedback"
              *ngIf="form.controls.password.dirty &&  form.controls.password.errors?.['required']">
              El campo es obligatorio.
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputUsertype" class="col-sm-2 col-form-label">Tipo de Usuario</label>
          <div class="col-sm-6 has-validation">
            <div class="input-group">
              <span class="input-group-text">Descripcion de la ajena</span>
              <input type="number" class="form-control" formControlName="tipousuario" [ngClass]="{'is-valid' :
              form.controls.tipousuario.dirty && !form.controls.tipousuario.errors?.['required'] &&
               !form.controls.tipousuario.errors?.['pattern'],
                'is-invalid' :  (form.controls.tipousuario.dirty &&  form.controls.tipousuario.errors?.['required'] )
                || ( form.controls.tipousuario.dirty &&  form.controls.tipousuario.errors?.['pattern'])}">
              <button type="button" class="btn btn-outline-primary" (click)="openModalFindUsertype()">Buscar</button>
            </div>
            <div class="text-danger"
              *ngIf="form.controls.tipousuario.dirty &&  form.controls.tipousuario.errors?.['required']">
              El campo es obligatorio.
            </div>
            <div class="text-danger"
              *ngIf="form.controls.tipousuario.dirty &&  form.controls.tipousuario.errors?.['pattern']">
              El campo ha de ser un entrero de máximo 6 dígitos.
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary"
        [disabled]="!form.dirty || (form.invalid && form.dirty)">Guardar</button>

      </form>

    </div>
  </div>
</div>

<div class="modal fade" [id]="mimodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        {{modalContent}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!--<div class="modal fade" id="findTeam" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <app-team-finder-admin-unrouted (closeEvent)="closeTeamModal($event)"></app-team-finder-admin-unrouted>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>-->

