<app-menu></app-menu>

<div class="container-lg mt-2">
  <h2 class="text-center">Nuevo Usuario</h2>

  <div class="form-container">
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="input-div"> <!--NOMBRE-->
        <label for="inputName">Nombre</label>
        <input type="text" class="form-control" id="inputName" formControlName="nombre"
          [ngClass]="{ 'is-valid' : form.controls.nombre.dirty && !form.controls.nombre.errors?.['required']
          && !form.controls.nombre.errors?.['minlength'] && !form.controls.nombre.errors?.['maxlength'],
          'is-invalid' : form.controls.nombre.dirty && (form.controls.nombre.errors?.['minlength']
          || form.controls.nombre.errors?.['maxlength'] || form.controls.nombre.errors?.['required']) }"
        >

        <div id="inputNameFeedback" class="invalid-feedback"
          *ngIf="form.controls.nombre.dirty && form.controls.nombre.errors?.['minlength']">
          Mín. 3 caracteres.
        </div>
        <div id="inputNameFeedback" class="invalid-feedback"
          *ngIf="form.controls.nombre.dirty && form.controls.nombre.errors?.['maxlength']">
          Máx. 15 caracteres.
        </div>
        <div id="inputNameFeedback" class="invalid-feedback"
          *ngIf="form.controls.nombre.dirty && form.controls.nombre.errors?.['required']">
          El campo es obligatorio.
        </div>
      </div>

      <div class="input-div"> <!--APELLIDO 1-->
        <label for="inputSurname">1º Apellido</label>
        <input type="text" class="form-control" id="inputSurname" formControlName="apellido1"
          [ngClass]="{'is-valid' : form.controls.apellido1.dirty && !form.controls.apellido1.errors?.['required']
          && !form.controls.apellido1.errors?.['minlength'] && !form.controls.apellido1.errors?.['maxlength'],
          'is-invalid' : form.controls.apellido1.dirty && (form.controls.apellido1.errors?.['minlength']
          || form.controls.apellido1.errors?.['maxlength'] || form.controls.apellido1.errors?.['required']) }"
        >

        <div id="inputSurnameFeedback" class="invalid-feedback"
          *ngIf="form.controls.apellido1.dirty && form.controls.apellido1.errors?.['minlength']">
          Mín. 3 caracteres.
        </div>
        <div id="inputSurnameFeedback" class="invalid-feedback"
          *ngIf="form.controls.apellido1.dirty && form.controls.apellido1.errors?.['maxlength']">
          Máx. 15 caracteres.
        </div>
        <div id="inputSurnameFeedback" class="invalid-feedback"
          *ngIf="form.controls.apellido1.dirty && form.controls.apellido1.errors?.['required']">
          El campo es obligatorio.
        </div>
      </div>

      <div class="input-div"> <!--APELLIDO 2-->
        <label for="inputLastname">2º Apellido</label>
        <input type="text" class="form-control" id="inputLastname" formControlName="apellido2"
          [ngClass]="{'is-valid' : form.controls.apellido2.dirty && !form.controls.apellido2.errors?.['required']
          && !form.controls.apellido2.errors?.['minlength'] && !form.controls.apellido2.errors?.['maxlength'],
          'is-invalid' : form.controls.apellido2.dirty && (form.controls.apellido2.errors?.['minlength']
          || form.controls.apellido2.errors?.['maxlength'] || form.controls.apellido2.errors?.['required']) }"
        >

        <div id="inputLastnameFeedback" class="invalid-feedback"
          *ngIf="form.controls.apellido2.dirty && form.controls.apellido2.errors?.['minlength']">
          Mín. 3 caracteres.
        </div>
        <div id="inputLastnameFeedback" class="invalid-feedback"
          *ngIf="form.controls.apellido2.dirty && form.controls.apellido2.errors?.['maxlength']">
          Máx. 15 caracteres.
        </div>
        <div id="inputLastnameFeedback" class="invalid-feedback"
          *ngIf="form.controls.apellido2.dirty && form.controls.apellido2.errors?.['required']">
          El campo es obligatorio.
        </div>
      </div>

      <div class="row">
        <div class="input-div col-md-4"> <!--DNI-->
          <label for="inputDni">DNI</label>
          <input type="text" class="form-control" id="inputDni" formControlName="dni"
            [ngClass]="{'is-valid' : form.controls.dni.dirty && !form.controls.dni.errors?.['required']
            && !form.controls.dni.errors?.['pattern'],
            'is-invalid' : form.controls.dni.dirty && (form.controls.dni.errors?.['pattern']
            || form.controls.dni.errors?.['required']) }"
          >

          <div id="inputDniFeedback" class="invalid-feedback"
            *ngIf="form.controls.dni.dirty && form.controls.dni.errors?.['pattern']">
            Dni no válido
          </div>
          <div id="inputDniFeedback" class="invalid-feedback"
            *ngIf="form.controls.dni.dirty && form.controls.dni.errors?.['required']">
            El campo es obligatorio.
          </div>
        </div>

        <div class="input-div col-md-8"> <!--EMAIL-->
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email"
            [ngClass]="{'is-valid' : form.controls.email.dirty && !form.controls.email.errors?.['required']
            && !form.controls.email.errors?.['pattern'],
            'is-invalid' : form.controls.email.dirty && (form.controls.email.errors?.['pattern']
            || form.controls.email.errors?.['required']) }"
          >

          <div id="inputEmailFeedback" class="invalid-feedback"
            *ngIf="form.controls.email.dirty &&  form.controls.email.errors?.['pattern']">
            Email no válido
          </div>
          <div id="inputEmailFeedback" class="invalid-feedback"
            *ngIf="form.controls.email.dirty &&  form.controls.email.errors?.['required']">
            El campo es obligatorio
          </div>
        </div>
      </div>

      <div class="input-div"> <!--LOGIN-->
        <label for="inputUsername" class="">Login</label>
        <input type="text" class="form-control" id="inputUsername" formControlName="login" [ngClass]="{'is-valid' :
          form.controls.login.dirty && !form.controls.login.errors?.['required'] &&
          !form.controls.login.errors?.['minlength'] && !form.controls.login.errors?.['maxlength'],

          'is-invalid' : form.controls.login.dirty && (form.controls.login.errors?.['minlength']
          || form.controls.login.errors?.['maxlength'] || form.controls.login.errors?.['required']) }"
        >

        <div class="invalid-feedback"
          *ngIf="form.controls.login.dirty && form.controls.login.errors?.['minlength']">
          La longitud mínima es de 4 caracteres.
        </div>
        <div class="invalid-feedback"
          *ngIf="form.controls.login.dirty && form.controls.login.errors?.['maxlength']">
          La longitud máxima es de 20 caracteres.
        </div>
        <div class="invalid-feedback"
          *ngIf="form.controls.login.dirty && form.controls.login.errors?.['required']">
          El campo es obligatorio.
        </div>
      </div>

      <div class="row">
        <div class="input-div col-md-6"> <!--PASSWORD-->
          <label for="inputPassword" class="">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword" formControlName="password"
            [ngClass]="{ 'is-valid' : form.controls.password.dirty && !form.controls.password.errors?.['required'] &&
            !form.controls.password.errors?.['minlength'] && !form.controls.password.errors?.['maxlength'],
            'is-invalid' : form.controls.password.dirty &&
            (form.controls.password.errors?.['required'] || form.controls.password.errors?.['minlength'] || form.controls.password.errors?.['maxlength']) }"
          >

          <div class="invalid-feedback"
            *ngIf="form.controls.password.dirty && form.controls.password.errors?.['minlength']">
            La longitud mínima es de 3 caracteres.
          </div>
          <div class="invalid-feedback"
            *ngIf="form.controls.password.dirty && form.controls.password.errors?.['maxlength']">
            La longitud máxima es de 10 caracteres.
          </div>
          <div class="invalid-feedback"
            *ngIf="form.controls.password.dirty && form.controls.password.errors?.['required']">
            El campo es obligatorio.
          </div>
        </div>

        <div class="input-div col-md-6"> <!--CONFIRM PASSWORD-->
          <label for="inputPasswordC" class="">Confirma tu contraseña</label>
          <input type="password" class="form-control" id="inputPasswordC" formControlName="passwordC"
            [ngClass]="{ 'is-valid' : form.controls.passwordC.dirty && !form.controls.passwordC.errors?.['required'],
            'is-invalid' : form.controls.passwordC.dirty &&
            (!sonIguales() || form.controls.passwordC.errors?.['required']) }"
          >

          <div class="invalid-feedback"
            *ngIf="form.controls.passwordC.dirty && form.controls.passwordC.errors?.['required']">
            El campo es obligatorio.
          </div>
          <div class="invalid-feedback"
            *ngIf="!sonIguales() && !form.controls.passwordC.errors?.['required']">
            La contraseña no coincide
          </div>
        </div>
      </div>

      <div class="input-div"> <!--TIPO USUARIO-->
        <label for="inputUsertype" class="">Tipo de Usuario (ID)</label>
        <div class="row">
          <span class="col-md-4 col-lg-3">{{tipousuarioDescription}}</span>
          <div class="col-md-4 col-lg-3">
            <input type="number" class="form-control" formControlName="tipousuario" (keyup)="updateUserTypeDescription(form.controls.tipousuario.value)"
              [ngClass]="{'is-valid' : form.controls.tipousuario.dirty && !form.controls.tipousuario.errors?.['required'] &&
              !form.controls.tipousuario.errors?.['incorrect'],
              'is-invalid' : (form.controls.tipousuario.dirty && form.controls.tipousuario.errors?.['required'] )
              || ( form.controls.tipousuario.dirty && form.controls.tipousuario.errors?.['incorrect'] )}"
            >
          </div>
          <button type="button" class="btn btn-md buscar col-md-4 col-lg-3" (click)="openModalFindUsertype()">
            <i class="pi pi-search"></i>
            Buscar
          </button>
        </div>

        <div class="text-danger"
          *ngIf="form.controls.tipousuario.dirty && tipousuarioDescription == 'No se ha encontrado'">
          El campo es obligatorio.
        </div>
        <!--<div class="text-danger"
          *ngIf="form.controls.tipousuario.dirty && form.controls.tipousuario.errors?.['incorrect']">
          No se encuentra el tipo de usuario
        </div>-->
      </div>

      <div class="buttons-container">
        <button type="submit" class="btn button btn-save" [disabled]="form.invalid || !sonIguales()">Guardar</button>
        <button type="button" class="btn button" role="button" (click)="back()">Cancelar</button>
      </div>

    </form>
  </div>
</div>

<div class="modal fade" [id]="mimodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{modalContent}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="findUsertype" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-tipousuario-plist (closeEvent)="closeTeamModal($event)"></app-tipousuario-plist>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          <i class="pi pi-times"></i>
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
