
<div class="container contenedor mb-4">
  <div class="row">
    <div class="col">
      <img style="width: 120px; height: 160px;" [src]="getURLimage(sesion.pelicula.imagen)" alt="">
      <hr>
      <b>{{sesion.pelicula.titulo}}</b>
      <hr>
      Sesion nº {{sesion.id}}
      <hr>
      Sala {{sesion.sala.id}} ({{sesion.sala.tiposala.nombre}})
      <hr>
      Hora: {{sesion.fechaHora | date: 'HH:mm'}} ({{sesion.fechaHora | date: "dd - MMM"}})
    </div>
    <div class="col">
      <ul style="list-style: decimal;">
        <li class="my-2" *ngFor="let entrada of entradas">
          Fila {{entrada.ejeX+1}} - Butaca {{entrada.ejeY+1}} (nº {{entrada.id}})
        </li>
      </ul>
    </div>

  </div>

</div>
