<app-menu></app-menu>

<div class="container mt-5" *ngIf="sesion">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Datos de la Sesión {{sesion.id}}</h1>
      <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{sesion.id}}</td>
            </tr>
            <tr>
              <td>Fecha/Hora</td>
              <td>{{sesion.fechaHora | date: 'dd-MM-yyyy / HH:mm'}}</td>
            </tr>
            <tr>
                <td>Sala</td>
                <td>Sala {{sesion.sala.id}}</td>
            </tr>
            <tr>
                <td>Película</td>
                <td>{{sesion.pelicula.id}} - {{sesion.pelicula.titulo}}</td>
            </tr>
            <tr>
                <td>Tarifa</td>
                <td>{{sesion.tarifa.id}} - {{sesion.tarifa.nombre}}({{sesion.tarifa.precio}})</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="col contImg">
      <img class="imagen" [src]="getURLimage(sesion.pelicula.imagen)" alt="imagen">
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <a class="btn btn-outline-primary m-2" (click)="goBack()"> Volver</a>
</div>
</div>



