
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Peliculas</h1>
      <table class="table table-responsive table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Director</th>
            <th>Duracion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pelicula of respFromServer?.content">
            <td>{{pelicula.id}}</td>
            <td>{{pelicula.titulo}}</td>
            <td>{{pelicula.director}}</td>
            <td>{{pelicula.duracion}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Herramientas">
                <button class="btn btn-sm btn-outline-primary" (click)="selectPelicula(pelicula.id)">
                  Seleccionar
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
