<app-menu></app-menu>

<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center m-5">
    <div class="col-md-9 col-lg-6 col-xl-5 text-center">
      <div><i style="font-size: 20em;" class="fa-solid fa-user"></i></div>
    </div>
    <div class="col-md-8 col-lg-6 col-xl-7">

      <form style="width:fit-content" [formGroup]="formLogin">

        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
          <p class="lead fw-normal mb-5 me-3">Sign in with:</p>
        </div>

        <!-- username input -->
        <div class="form-outline mb-4">
          <input type="text" id="login" class="form-control form-control-lg"
            placeholder="Nombre de usuario" name="login" formControlName="login" />
          <label class="form-label" for="login">Login</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-3">
          <input type="password" id="password" class="form-control form-control-lg" placeholder="Contraseña" name="password" formControlName="password" />
          <label class="form-label" for="password">Password</label>
        </div>

        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="button" class="btn btn-outline-success btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="login()">Login</button>
        </div>
        <!--<div class="text-center text-lg-start mt-4 pt-2">
          <button type="button" class="btn btn-outline-warning btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="check()">Check</button>
        </div>
        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="button" class="btn btn-outline-danger btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="logout()">Logout</button>
        </div>-->

        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="button" class="btn btn-outline-warning btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="loginAdmin()">Login as admin</button>

          <button type="button" class="btn btn-outline-info btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="loginUser()">Login as user</button>
        </div>

      </form>
    </div>
  </div>
</div>
<div
  class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
  <div class="text-white mb-3 mb-md-0">
    MIT licensed 2022.
  </div>
</div>

