<div class="container mt-5" *ngIf="tiposala">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Datos de tiposala {{tiposala.id}}</h1>
      <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{tiposala.id}}</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>{{tiposala.nombre}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <a class="btn btn-outline-primary m-2" (click)="goBack()"> Volver</a>
</div>
</div>
