<div class="container mt-5">
  <div class="row">
    <div class="col" *ngIf="respFromServer">
      <h1 class="text-center mb-5">Generos</h1>

      <app-search-unrouted [placeHolder]="'Buscar género'" (onSearch)="setFilter($event)"></app-search-unrouted>

      <div class="paginacion">
        <app-pagination-unrouted [nPage]="respFromServer.number + 1" [nTotalPages]="respFromServer.totalPages"
          (eePage)="setPage($event)">
        </app-pagination-unrouted>

        <app-dropdown-register-page class="mx-2" [PageSize]="respFromServer.size"
            (eeRpp)="this.setRpp($event)">
        </app-dropdown-register-page>
      </div>
      <table class="table table-responsive table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let genero of respFromServer?.content">
            <td>{{genero.id}}</td>
            <td>{{genero.nombre}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Herramientas">
                <button class="btn btn-sm btn-outline-primary" (click)="selectGenero(genero.id)">
                  Seleccionar
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
