*{
  box-sizing: border-box;
}

.peliculasContainer{
  background-color: rgb(216, 153, 111, .6);
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  height: auto;
  padding: 1vw;
}

.peliculas{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1vw;
  gap: 1vw;
}
.portada{
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
  border-radius: 7px;
  max-width: 220px;
  max-height: 330px;
  min-width: 160px;
  min-height: 250px;
  margin: 1vw;
  transition: all .5s;
}

.portada:hover{
  background-color: rgb(179, 102, 52);
  color: #fff;
}

.img {
  height: 80%;
}

a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
}

.titulo {
  padding-top: 1vw;
  height: 20%;
  text-align: center;
}
