<app-menu></app-menu>

<div class="container" *ngIf="peliculas">

  <div class="cabecera row mb-3">
    <h1>Cartelera</h1>
    <div class="col-6">
      <app-search-unrouted class="mt-4 me-3" [placeHolder]="'Busqueda por pelicula o director'" (onSearch)="setFilter($event)"></app-search-unrouted>
    </div>

  </div>

  <div class="cuerpo">
    <!--<div class="paginacion">
      <app-pagination-unrouted [nPage]="peliculas.number + 1" [nTotalPages]="peliculas.totalPages"
        (eePage)="setPage($event)">
      </app-pagination-unrouted>

      <app-dropdown-register-page class="mx-2" [PageSize]="peliculas.size"
          (eeRpp)="this.setRpp($event)">
      </app-dropdown-register-page>
    </div>-->

    <div class="peliculasContainer">
      <div class="peliculas">
        <div class="portada" *ngFor="let pelicula of peliculas?.content">
          <div class="img">
            <a [routerLink]="['/user/pelicula/view',pelicula.id]"><img [src]="getURLimage(pelicula.imagen)" alt=""></a>
          </div>
          <div class="titulo">
            {{pelicula.titulo}}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
