<!--<table class="table table-bordered table-striped" *ngIf="usuario">
  <tbody>
      <tr>
          <th>Id</th>
          <td>{{usuario.id}}</td>
      </tr>
      <tr>
          <td>Nombre</td>
          <td>{{usuario.nombre}}</td>
      </tr>
      <tr>
          <td>1º Apellido</td>
          <td>{{usuario.apellido1}}</td>
      </tr>
      <tr>
          <td>2º Apellido</td>
          <td>{{usuario.apellido2}}</td>
      </tr>
      <tr>
          <td>Email</td>
          <td>{{usuario.email}}</td>
      </tr>
      <tr>
          <td>Usuario</td>
          <td>{{usuario.login}}</td>
      </tr>
      <tr>
          <td>Tipo de usuario</td>
          <td>{{usuario.tipousuario.id}}-{{usuario.tipousuario.nombre}}</td>
      </tr>
  </tbody>
</table>-->

<div class="container-lg" *ngIf="usuario">
  <div class="text-center">
    <i class="pi pi-user" style="font-size: 3rem;"></i>
    <div class="login">
      {{usuario.login}} ({{usuario.tipousuario.nombre}})
    </div>
  </div>
  <div class="datas">
    <p><b>ID:</b> {{usuario.id}}</p>
    <p>{{usuario.nombre}} {{usuario.apellido1}} {{usuario.apellido2}}</p>
    <p>
      <i class="pi pi-id-card me-1"></i>
      {{usuario.dni}}
    </p>
    <p>
      <i class="pi pi-envelope me-1"></i>
      {{usuario.email}}</p>
    <p *ngIf="usuario.facturasCount !== 0"><b>{{usuario.facturasCount}}</b> Facturas</p>
    <p *ngIf="usuario.facturasCount === 0">Sin facturas</p>
  </div>
</div>

