*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  /*display: flex;
  align-items: center;*//*ESTO ES OTRA FORMADE CENTRAR VERTICALMENTE EL FORMULARIO*/
  /*padding-top: 10vh;/*MIRAR*/

  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  /*min-height: 100%; /*Esto y lo de arriba (html) permiten que se ocupe el total de la pagina*/
  background-image: url('fondo.jpg');

}

.cuerpo {
  background-image: url('fondo3.jpg');

  background-size: 100vw;
}

.contenedor {
  background-color: rgba(240, 175, 132, 0.9);

  width: 75vw;
  /*min-height: 80vh;*/
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1vw;

}

.infoContainer > *{
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  padding: .5vh;
  text-align: center;
}

.infoContainer {
  margin-top: 1vw;
  display: grid;
  height: 100%;
  gap: 1vw;
  grid-template:
  "description  infoLocal"  auto
  "tarifa       infoLocal"  auto
  "normas       infoLocal"  auto/
  1fr           1fr;
}

.imgContainer {
  height: auto;
  display: flex;
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
}
.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  position: relative;
  transition: all ease-in 0.3s;
  padding-bottom: 33%;
  cursor: pointer;
}

.imagen:hover {
  width: 75%;
  flex-shrink: 0;
}
.imagen > img {
  width:100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  left: 0; right: 0; bottom: 0; top: 0;
}

.peliculasContainer {
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  height: auto;
  padding: 1vw;
}
.peliculasContainer > a {
  color: black;
  text-decoration: none;
  transition: all .5s;
}
.peliculasContainer > a:hover {
  color: rgb(146, 23, 23);

}

.peliculas{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1vw;
}
.portada{
  width: clamp(160px,1vw,180px);
  height: clamp(250px,1vw,270px);
}
a > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
}

.description {
  grid-area: description;
}
.infoLocal {
  grid-area: infoLocal;
}
.tarifas {
  grid-area: tarifa;
}
.normativa {
  grid-area: normas;
}

.horario{
  padding: 1vw;
  height: 40%;
  text-align: left;
}
.horario > div {
  padding: .5vw;
  font-size:clamp(14px,2vw,20px)
}
.direccion{
  padding: 1vw;
  height: 60%;
}
p {
  padding: .5vw;
}
h3, p {
  text-align: left;
}

.description {
  text-align: left;

}

.tableTarifas{
  padding: 1vw;
}

.tableTarifas{
  text-align: left;
  padding: 1vw;
  height: 100%;
  font-weight: bolder;
}

.normativa > * {
  text-align: left;
  padding: 1vw;
}


iframe {
  border-radius: 10px;
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
}
