<app-menu></app-menu>

<form action="">
  <label for="">Titula</label>
  <input type="text" [formControl]="this.titulo">

  <label for="">Director</label>
  <input type="text" [formControl]="this.director">

  <label for="">Año</label>
  <input type="number" [formControl]="this.year">

  <label for="">duracion</label>
  <input type="number" [formControl]="this.duracion">

  <label for="">Imagen</label>
  <input type="file" (change)="fileSelected($event)">

  <!--<label for="">Fecha alta</label>
  <input type="datetime-local" [formControl]="this.fAlta">-->

  <div class="field col-12 md:col-4">
    <label for="time">Fecha de alta</label>
    <p-calendar [formControl]="this.fAlta" dateFormat="dd-mm-yy" [showTime]="true" [showIcon]="true" [showSeconds]="false" [stepMinute]="1" [showButtonBar]="true" inputId="time"></p-calendar>
</div>


  <button type="submit" class="btn btn-outline-primary" (click)="checkFile()">Guardar</button>

</form>
