<div class="container mt-3">

  <div class="titulo">
    <h4>Eliminar Tarifa</h4>
  </div>

  <div class="tableContainer">
    <table class="table table-responsive table-striped" *ngIf="tarifa">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{tarifa.id}}</td>
          <td>{{tarifa.nombre}}</td>
          <td>{{tarifa.precio}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center">
    <div class="col-md-5 control-group text-center">
        <div class="alert alert-danger my-3" role="alert">
            <h3>¿Está seguro que quiere borrar esta tarifa?</h3>
            <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center my-4">
                <a class="btn btn-danger mx-2" (click)="deleteGenero(tarifa.id)">
                    SI</a>
                <a class="btn btn-success mx-2" (click)="back()">
                    NO </a>
            </div>
        </div>
    </div>
</div>

<!-- modal de bootstrap-->
<div class="modal fade" id="removeInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Cine MatriX</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              {{msg}}
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>
</div>

